<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388351733974-09uil3t79gq16e183qf28asa1uo7vgrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388351733974-09uil3t79gq16e183qf28asa1uo7vgrh</string>
	<key>API_KEY</key>
	<string>AIzaSyDjzvBsQjVOmnw_H7qi6HQN_vgHPcCvwwg</string>
	<key>GCM_SENDER_ID</key>
	<string>388351733974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projTesteSilicon</string>
	<key>PROJECT_ID</key>
	<string>testesilicon</string>
	<key>STORAGE_BUCKET</key>
	<string>testesilicon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388351733974:ios:22de71c0aeffdce8371977</string>
</dict>
</plist>